@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,600;0,700;0,800;1,100&family=Roboto:wght@300;400;700&display=swap');
html {
  scroll-behavior: smooth;
  background-color: white;
  font-size: 100%;
}
.cards-container{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    align-content: space-around;
    align-items: center;
    grid-gap: 1rem;
    padding-bottom: 2rem;
    overflow: hidden
}
.card{
   border:1px solid blue;
   
}
.card>img{
    max-width: 100%;
    overflow: hidden;
    float: left;

}
.card.p{
    
    text-align: justify;
}