@import "variables";
@import "hamburger";
/* Typography imported from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,600;0,700;0,800;1,100&family=Roboto:wght@300;400;700&display=swap');
html {
  scroll-behavior: smooth;
  background-color: $primary-colour;
  font-size: 100%;
}
.contacts {
  display: inline-block;
  font-family: 'Roboto';
  font-size: 0.5em;
  font-weight: bolder;
  padding-top: 3em;
  padding-bottom: 2em;
  color:$accent_colour;

}
.material-icons.red {color:$accent_colour};

/*Typography*/

p {
  font-family: 'Roboto';
}


/* Section text styles*/
.section-top{
  display:grid;
  text-align: center;
  align-items: center;
  padding-left: 5rem;
  padding-right: 5rem;
 }
.section-title{
  display:flex;
  font-family: "Montserrat";
  font-size:40px;
  font-weight: 800;
  text-transform: uppercase;
  color: black;
  /*text-align: left;*/
  align-self:end;
  justify-self:start;
}
.section-header{
  font-family: "Montserrat";
  font-size: 40px;
  font-weight: 100;
  text-align: center;
  text-transform: uppercase;
  color: black;
}
.section-subheader{
  font-family: "Roboto";
  font-size: 30px;
  font-weight: 200;
  color: black;
}
.section-subtitle{
  font-family: "Roboto";
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: $accent_colour;
}
.section-text{
  font-family: "Roboto";
  font-size:16px;
  color: black;
}
.section-cap-text{
  font-family: "Montserrat";
  font-size:20px;
  color: black;
}
.section-emphasis{
  font-family: 'Roboto';
  font-weight: bold;
  font-size:34px;
  color: black;
}

/* ==== GRID SYSTEM ==== */
.wrapper{
  display:grid;
  margin-left: 10vw;
  margin-right: 10vw;
  align-content: space-between;
  place-content: center;
}
.home{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  align-content: space-around;
  align-items: center;
  grid-gap: 15rem;
  padding-bottom: 2rem;
  overflow: hidden
}
.home>img{
  display: grid;
  max-height: 80vh;
  overflow: hidden;

 }

.home>article{
  display:grid;
  overflow: hidden;
  align-self:flex-end;
  text-align: left;
  justify-self:center;
  padding-left: 5rem;
  padding-right: 5rem;
}


.buttons-container{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  grid-gap: 2rem;
}
@media all and (max-width:30em){
  .buttons-container{
  display:block;
  margin:1em auto;
  }
}
.button-container{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  place-content: center;
  margin-left: 20vw;
  margin-right: 20vw;
}
@media all and (max-width:30em){
  .button-container{
  display:block;
  margin:1em auto;
  }
}
.button{
  background-color:$accent_colour;
  display:inline-block;
  padding: 0.5em 0.5em;
    /*border:0.1em solid #FFFFFF;*/
  margin:0 0.3em 0.3em 0;
  /*border-radius:0.12em;
  box-sizing: border-box;*/
  box-shadow: 3px 3px gray;
  text-decoration:none;
  font-family:'Roboto';
  font-size: larger;
  font-weight:bold;
  color:#FFFFFF;
  text-align:center;
  transition: all 0.2s;
  }

.button:hover{
  box-shadow:none;
  cursor: pointer;
  }
a.button1{
  background-color:$accent_colour;
  display:inline-block;
  padding: 0.5em 0.5em;
    /*border:0.1em solid #FFFFFF;*/
  margin:0 0.3em 0.3em 0;
  /*border-radius:0.12em;
  box-sizing: border-box;*/
  box-shadow: 3px 3px gray;
  text-decoration:none;
  font-family:'Roboto';
  font-size: larger;
  font-weight:bold;
  color:#FFFFFF;
  text-align:center;
  transition: all 0.2s;
  }
a.button1:hover{
  box-shadow:none;
  }
@media all and (max-width:30em){
  a.button1{
  display:block;
  margin:1em auto;
  }
}
.services{
  display:grid;
  align-content: space-around;
  border-top: 1px solid gray;
  text-align: center;
  padding-bottom: 2em;
}
.services> ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  align-content: space-around;
  grid-gap: 1rem;
}
.services>ul>li{
  list-style: none;
  text-align: center;
  align-items: center;
  padding-left: 5rem;
  padding-right: 5rem;
  }
.services>ul>li>img{
  
  max-width:100%;
  max-height: 100%;
  overflow: hidden;
}
.services>ul>li>a{
  font-family: "Roboto";
  font-size: 1rem;
  font-weight: bold;
  color: $accent_colour;
  text-decoration: none
}

.projects{
  border-top: 1px solid gray;
  align-items: center;
  padding-bottom: 2em;
}
.projects> ul {
 display: grid;
 grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
 grid-gap: 1rem;

}
.projects>ul>li{
 display:grid;
 list-style: none;
 text-align: center;
 padding-left: 2rem;
 padding-right: 2rem;
 justify-self: left;
 }
.projects>ul>li>img{
  display:grid;
  max-width: 100%;
  overflow: hidden;
  justify-self: center;
  padding: 0;
}

.whyus{
  display:grid;
  border-top: 1px solid gray;
  padding-bottom: 2em;
}

.whyus> ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem;
}
 .whyus>ul>li{
  list-style: none;
  text-align: left;
  padding-left: 5rem;
  padding-right: 5rem;
 }
 .whyus>ul>li>img{
  display:grid;
  place-items: center;
  padding-left: 10vw;
  padding-right: 15rem;
  max-height: 40vw;
  
  overflow: hidden;
 }
 .whyus>ul>li>li{
  list-style:disk;
  text-align: left;
 }

 .contactus{
  display:block;
 
  border-top: 1px solid gray;
  align-items: center;
  padding-bottom: 2em;
}
@media all and (max-width:30em){
  .contactus{
  display:block;
  margin:1em auto;
  }
}

.contactus>article{
 display:grid;
 grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
 padding-left: 3rem;
 padding-right: 3rem;
}
@media all and (max-width:30em){
  .contactus>article{
  display:block;
  margin:1em auto;
  }
}

input,textarea,label{
  font-family: 'Roboto';
  font-size: 16px;
  padding-right: 0.1em;
  width: 100%;
  max-width: 500px;
}
.message-form{
  background-color: #dee2e6;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
   
}

footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  padding: .75rem;
  border-top: 1px solid gray;
  align-items: center;
  text-align: center;
}
footer>ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem;
}
.footer>ul>li{
  list-style: none;
  text-align: center;
  align-items: center;
  }

